<% layout("./layouts/boilerplate.ejs") %>
<body>
    <div class="row">
        <div class="col-8 offset-2">
    <h1>Edit Listing</h1>
    <form action="/listing/<%= listing.id %>?_method=PUT" method="POST" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" name="listing[title]" value=<%= listing.title %> required id="title" class="form-control">
            <div class="valid-feedback">Title Looks Good!!</div>
        </div>
       
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" id="description" class="form-control" required><%= listing.description %></textarea>
            <div class="invalid-feedback">Please enter a valid description.</div>
        </div>
        
        <div class="mb-3">
            <img src=<%= listing.image.url %> alt="listing_image" height="150" width="200">
        </div>

        <div class="mb-3">
            <label for="image" class="form-label">Upload New Image:</label>
            <input type="file" id="image" name="listing[image]" class="form-control">
            <div class="invalid-feedback">Please enter a valid image.</div>
        </div>
        
        <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input type="number" name="listing[price]" id="price" class="form-control" value=<%= listing.price %> required min="1">
            <div class="invalid-feedback">Please enter a valid price.</div>
        </div>
        
        <div class="mb-3">
            <label for="location" class="form-label">Category</label>
            <input type="text" name="listing[location]" id="location" class="form-control" value=<%= listing.location %> required>
            <div class="invalid-feedback">Please enter a valid location.</div>
        </div>
        
        <div class="mb-3">
            <label for="country" class="form-label">Country</label>
            <input type="text" name="listing[country]" id="country" class="form-control" value=<%= listing.country %> required>
            <div class="invalid-feedback">Please enter a valid country.</div>
        </div>
        
        <button type="submit" class="btn btn-dark mb-3">Update</button>
    </form>
        </div>
    </div>
</body>
